# SERVER
NODE_ENV=developement
PORT=4000
# Database
MYSQL_DB_URI=
MYSQL_DB_DATABASE_NAME=
MYSQL_DB_HOST=
MYSQL_DB_PORT=
MYSQL_DB_USERNAME=
MYSQL_DB_PASSWORD=
# SMTP
SMTP_USER=
SMTP_PASS=
# REDIS
REDIS_URL=
REDIS_HOST=
# CLOUDINARY
CLOUDINARY_CLOUD=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=